#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/49e33a4d-7a2a-45ce-8e62-16261c4a41a9/ # 
title: M3Input
/customerCreate:
  description: creation of a customer
  post:
    body:
      application/json:
        example:
          {
	"Identification": {
		"FirstName": "Bob",
		"LastName": "Frederick",
		"DOB": "06/21/1980",
		"Gender": "M",
		"Title": "Manager"
	},
	"Address": [{
		"type ": "home",
		"number": 1234,
		"street": "blah blah St",
		"Unit": "1 a",
		"City": "Somewhere",
		"State": "WV",
		"zipcode": "12345"
	}],
	"Communication": [{
			"type": "email",
			"value": "bfe@sample.com",
	  		"preferred" : "true"
		},
		{
			"type": "cell",
			"value": "304-555-8282"
		}
	]
}
    responses:
      200:
        body:
          application/json:
            example:
              {
                "status": 200
              }
      404:
        body:
          application/json:
            example:
              {
                "status": 404
              }
/GetCustomer:
  description: Getting Customer
  get:
    queryParameters:
      Id:
        required: true
        example: "1113"
    responses:
      200:
        body:
          application/json:
            example:
              {
            "name": "Aman",
            "adress": "USA",
            "phoneNumber": 123656
          }
      500:
        body:
          application/json:
            example:
              {
                "status": 500
              }
/UpdatingCustomer:
  description: Updating customer
  /{CustomerId}:
    put:
      queryParameters:
        Field:
          required: true
          example: "LastName"
          maxLength: 20
        Value:
          required: true
          example: "aman kss"
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "status": 200
                }
        500:
          body:
            application/json:
              examples:
                {
                  "internal error": 500
                } 
/CustomerDelete:
  description: Deleting Customer
  /{CustomerId}:
    delete:
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "status": 200
                }
        500:
          body:
            application/json:
              examples:
                {
                  "internal error": 500
                }